.title {
    color: var(--mantine-primary-color);
    font-size: rem(75px);
    font-weight: 900;
    letter-spacing: rem(-2px);
    line-height: rem(50px);
    text-align: center;

    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(50px);
    }
}
